@charset "UTF-8";
/*common*/
#wrap{text-align: center;}
#wrap .content{display: inline-block;width: 1200px;}
/*여행코스 글쓰기*/
.tv_write form{display: inline-block;width: 100%;}
.tv_write .title{border-bottom: 1px solid #eee;padding:40px 0}
.tv_write .title .title_top{display: flex;justify-content: space-between;align-items: center}
.tv_write .title .user{display: inline-block;vertical-align: middle;margin:0 20px;}
.tv_write .title .user .user_img{display: inline-block;width: 80px;height: 80px;background: gray;vertical-align: middle;border-radius:50px;margin-right:15px}
.tv_write .title .user .user_img img{width:100%}
.tv_write .title .user p{display: inline-block;font-weight: 500;font-size: 27px;vertical-align: middle;}
.tv_write .title .title_text{width: 500px;height:60px;}
.tv_write .title .hash_wrap{display:inline-block;width:100%}
.tv_write .title .hash{display:inline-block;width:100%}
.tv_write .title .hash input[type=checkbox]{opacity:0}
.tv_write .title .hash label{display:inline-block;border:1px solid #eee;padding:10px 12px 10px 0px;border-radius:50px;margin:0 5px 10px 5px}
.tv_write .title .hash label.on{background:#eee}
.tv_write .cnt_detail{display:inline-block;width:100%;height:500px;padding:40px 0}
.tv_write .map{width:500px;height:100%;float:left;background:#eee}
.tv_write .write_detail{background:#eee;width:100%;height:500px;padding:20px;overflow-x: scroll;}
.tv_write .write_detail .scroll{width:2080px}
.tv_write .write_detail .set{padding:20px;background:#fff;width:400px;float:left;margin-right:15px}
.tv_write .write_detail #courseList{float:initial;overflow:hidden}
.tv_write .write_detail #courseList li{display:inline-block;float:left;width:400px;background:#fff;padding:15px;margin-right:15px;height:80px}
.tv_write .write_detail .seracLocation{display:inline-block;width:100%;border:1px solid #000;}
.tv_write .write_detail .seracLocation input{border:none;display:inline-block;width:80%;float:left}
.tv_write .write_detail .seracLocation button{border:none;display:inline-block;width:20%;float:right}
.tv_write .write_detail .set textarea{width:100%;height:200px}
.tv_write .write_detail .set .pic_wrap{display:inline-block;width:100%;height:100px;margin:20px 0}
.tv_write .write_detail .set .pic_wrap .pic{width:100px;float:left;height:100%;background:yellow;margin-right:10px;position:relative;}
.tv_write .write_detail .set .pic_wrap .pic input{position:absolute;width:100%;height:100%;top:0;left:0;opacity:0;cursor:pointer;z-index:2}
.tv_write .write_detail .set .pic_wrap .pic img{width:100%}
.tv_write .write_detail .set .pic_wrap .pic .delete{position:absolute;display:inline-block;top:0;right:0;z-index:5;width:auto;transform: translate(50%,-50%);cursor:pointer}
.tv_write .write_detail .set .pic_wrap .plus{float:left;line-height:100px}

/*지도*/
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:250px;margin:10px 0 30px 10px;padding:5px;overflow-y:auto;background:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
#menu_wrap .option{text-align: center;}
#menu_wrap .option p {margin:10px 0;}  
#menu_wrap .option button {margin-left:5px;}
#placesList li {list-style: none;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;margin:10px 0 0 10px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}

/*모임방 채팅*/
.chat_list li{text-align:left}
.chat_list li.me{text-align:right}

/* header */
header .inner{margin:0 auto;width: 1020px;display: flex;justify-content: space-between;}
header ul li{display: inline-block;}

/* main */
.main .cnt_set{width:33.3%; display: inline-block; float: left; margin-top: 2cm;}
.main .cnt_set h5{font-size: 30px;}
.main .cnt_set .img_area{border: 1px solid blue;position: relative;}
.main .cnt_set .img_area a{height: 200px;display: block;}
.main .cnt_set .img_area ul{position: absolute;right: 0;bottom: 0;}
.main .cnt_set .img_area ul li{display: inline-block;}
.main .cnt_set .img_area ul li span{display: block;}


